<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Scrabble Board</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
    <body>
     
    <table id="box-table-b">
    <thead>
      <tr>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid #d72421;"></span><span class="arrow-left" style="border-right: 9px solid transparent;"></span><span class="arrow-down" style="border-top: 9px solid #d72421;"></span><span class="arrow-up" style="border-bottom: 9px solid transparent;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid transparent;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid #d72421;"></span><span class="arrow-left" style="border-right: 9px solid #d72421;"></span><span class="arrow-down" style="border-top: 9px solid #d72421;"></span><span class="arrow-up" style="border-bottom: 9px solid transparent;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid transparent;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid transparent;"></span><span class="arrow-left" style="border-right: 9px solid #d72421;"></span><span class="arrow-down" style="border-top: 9px solid #d72421;"></span><span class="arrow-up" style="border-bottom: 9px solid transparent;"></span></div></td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid transparent;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid transparent;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid #d72421;"></span><span class="arrow-left" style="border-right: 9px solid transparent;"></span><span class="arrow-down" style="border-top: 9px solid #d72421;"></span><span class="arrow-up" style="border-bottom: 9px solid #d72421;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span id="burst-8"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid transparent;"></span><span class="arrow-left" style="border-right: 9px solid #d72421;"></span><span class="arrow-down" style="border-top: 9px solid #d72421;"></span><span class="arrow-up" style="border-bottom: 9px solid #d72421;"></span></div>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid transparent;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid transparent;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #6fe6f6;"> <span class="BoardLetterDL">DL</span><span class="arrow-right" style="border-left: 9px solid #6fe6f6;"></span><span class="arrow-left" style="border-right: 9px solid #6fe6f6;"></span><span class="arrow-down" style="border-top: 9px solid #6fe6f6;"></span><span class="arrow-up" style="border-bottom: 9px solid #6fe6f6;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #4695ca;"> <span class="BoardLetterTL">TL</span><span class="arrow-right" style="border-left: 9px solid #4695ca;"></span><span class="arrow-left" style="border-right: 9px solid #4695ca;"></span><span class="arrow-down" style="border-top: 9px solid #4695ca;"></span><span class="arrow-up" style="border-bottom: 9px solid #4695ca;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock"> <span class="BoardLetterDW">DW</span><span class="arrow-right"></span><span class="arrow-left"></span><span class="arrow-down"></span><span class="arrow-up"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
      </tr>
      <tr>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid #d72421;"></span><span class="arrow-left" style="border-right: 9px solid transparent;"></span><span class="arrow-down" style="border-top: 9px solid transparent;"></span><span class="arrow-up" style="border-bottom: 9px solid #d72421;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid #d72421;"></span><span class="arrow-left" style="border-right: 9px solid #d72421;"></span><span class="arrow-down" style="border-top: 9px solid transparent;"></span><span class="arrow-up" style="border-bottom: 9px solid #d72421;"></span></div></td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70">&nbsp;</td>
        <td width="70" height="70"><div id="BoardBlock" style="background: #d72421;"> <span class="BoardLetterTW">TW</span><span class="arrow-right" style="border-left: 9px solid transparent;"></span><span class="arrow-left" style="border-right: 9px solid #d72421;"></span><span class="arrow-down" style="border-top: 9px solid transparent;"></span><span class="arrow-up" style="border-bottom: 9px solid #d72421;"></span></div></td>
      </tr>
      </thead>
    </table>
    <table width="1050" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div id="ScrabbleBlock" style="position:relative;left:357px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">S</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:358px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">C</span> <span class="ScrabbleNumber">3</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:359px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">R</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:360px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">A</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:361px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">B</span> <span class="ScrabbleNumber">3</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:362px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">B</span> <span class="ScrabbleNumber">3</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:363px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">L</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:364px;top:-660px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">E</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:-168px;top:-586px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">S</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:-243px;top:-510px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">S</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:63px;top:-813px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">O</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:-13px;top:-737px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">N</span> <span class="ScrabbleNumber">1</span></div>
     
     <div id="ScrabbleBlock" style="position:relative;left:-88px;top:-584px;width:70px;"
     onmousedown="dragStart(event)"><span class="ScrabbleLetter">Y</span> <span class="ScrabbleNumber">1</span></div>
     
     </td>
  </tr>
</table>
</body>
</html>
  
  
</body>
</html>
