<!DOCTYPE html>
<html lang="en">
<title>Scrabblr</title>
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="/static/phaser.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/board.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="game-container">
            <div id="game"> </div>

        <div class="move-ranking">
            <h1> Optimal Moves </h1>
            <!--<table class="table">
                  <thead>
                      <th>#</th>
                      <th>Name</th>
                      <th>Score</th>
                  </thead>
                  <tbody>
                      <tr></tr>
                  </tbody>
              </table> /-->
            <ol class="moves">
                {% for move in moves %}
                <li>
                    <span class="word">
                        {{ move[0] }}
                    </span>
                    <span class="score">
                        {{ move[1] }}
                    </span>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>
</html>